<div class="container-fluid text-center col-xs-2 col-sm-12">
      <div class="text-center title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p class="">{{email}}</p>
      </div>
</div>
<div class="container">
  <article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ipsam ab facere quos ullam quia excepturi, 
      repudiandae illum suscipit nobis nulla minima! Fugit, atque repellendus neque fugiat laboriosam illum ipsum.</p>
    </article>
</div>