<div class="container-fluid text-center col-xs-2 col-sm-12">
      <div class="text-center title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
      </div>
</div>
<div class="container">
  <article class="about">
    <h2>Sobre mi</h2>
    <p>Alvaro Valencia Martínez, actualmente estudiante en la
      Universidad Tecnológica de México orgullosamente en la carrera
      de Ing. en Sistemas Computacionales.
      Me caracterizo por ser atento y apoyar a mi equipo
      cuando ellos lo necesiten, también me gusta aprender nuevas
      tecnologías para implementarlo.
      Me gusta conocer mas en el área para poder aportar mis
      conocimientos a la sociedad y que puedan contar con un mayor servicio y calidad.</p>

      <p>
        Si estas visitando este protafolio de lo agradezco mucho, para poder activar toda la funcionalidad necesitas activar el back-end.
        Todo los recursos puedes encontrarlos en <a href="https://github.com/Alva99/Portafolio" class="alert-info"> Portafolio </a>
      </p>

    </article>
</div>