

@font-face{
    font-family: "yanone";
    src: url('./../../../../../Assets/fonts/yanone.ttf');
}
@font-face{
    font-family: "finger";
    src: url('./../../../../../Assets/fonts/finger.ttf');
}
@font-face{
    font-family: "titilium";
    src: url('./../../../../../Assets/fonts/titilium.ttf');
}
.title{
    padding-top: 25px;
}
.about{
    font-family: 'titilium';
    width: 90% ;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 60px;
}
.about h2{
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}
.about p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}
