@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@font-face{
    font-family: "finger";
    src: url('./../../../Assets/fonts/finger.ttf');
}

nav a{
    font-family: 'Fjalla One', sans-serif;
}
.logo:hover{
    color: rgba(0, 0, 0, 0.8) !important;
    transform: scale(1.3,1.3)
}
.logo{
    font-size: 25px;
    color: #007bff !important;
    font-family: 'finger'!important;
}

.principal{
    box-shadow: 7px 5px 50px #888888;
    width: 70%; 
    background: rgba(255, 255, 255, 0.6);
    padding: 8px;
}

.router-link-active{
    background: rgba(0, 0, 0, 0.8);
    color:white;
}

.footer p{
    color: rgba(0, 0, 0, 0.5); 
}