<nav class="nav justify-content-center navbar navbar-inverse">
  <a class="nav-link" [routerLink]="['/sobre']" [routerLinkActive]="['router-link-active']" >Sobre m&iacute;</a>
  <a class="nav-link" [routerLink]="['/proyectos']" [routerLinkActive]="['router-link-active']" >Proyectos</a>
  <a class="nav-link logo">Developer</a> <!--[routerLink]="['']"  -->
  <a class="nav-link" [routerLink]="['/crear']" [routerLinkActive]="['router-link-active']" >Crear proyectos</a>
  <a class="nav-link" [routerLink]="['/contacto']" [routerLinkActive]="['router-link-active']" >Contacto</a>
</nav>

<div class="container principal">
  <router-outlet></router-outlet>
</div>
<div class="container-fluid text-center footer">
<h4>Alvaro Valencia Martinez &#169;</h4>
</div>
<script>

</script>