/* Importar bootstrap desde el node_module */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    font-family: none;
    font-size: 22px;
    background: url('./../../Assets/img/pattern.png');
    background-attachment: fixed;
    padding-top: 10px;
}