<div class="container" *ngIf="project">
    <h1 class="text-center">{{title}}</h1>
    <div *ngIf="status == 'success' " class="alert alert-success" role="alert">
      El proyecto se guardo correctamente, puedes visualizarlo en en siguiente enlace <a [routerLink]="['/details',_id]" routerLinkActive="router-link-active"  class="alert-link">Proyecto {{nameProject}}</a>
    </div>
    <div *ngIf="status == 'failed' " class="alert alert-danger" role="alertdialog">
      <p>El proyecto no se ha generado correctamente</p>
    </div>
    <form #fomrproyect="ngForm" (ngSubmit)="onSubmit(fomrproyect)">
        <div class="form-group">
          <label for="name">Nombre del proyecto</label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="project.name" placeholder="Ingresa el nombre del proyecto" required>
          <span *ngIf="name.touched && !name.valid"  class="alert alert-danger" role="alert">El nombre del proyecto es obligatorio</span>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <textarea class="form-control" name="descripcion" #descripcion="ngModel" [(ngModel)]="project.descripcion" placeholder="Ingresa una descripcion" rows="5" required></textarea>
          <span *ngIf="descripcion.touched && !descripcion.valid" class="alert alert-danger" role="alert"> Descripcion es obligatoria</span>
        </div>
        <div class="form-group">
          <label for="category">Categoria</label>
          <input type="text" class="form-control" name="category" #category="ngModel" [(ngModel)]="project.category" placeholder="Elige la categoria" required>
          <span *ngIf="category.touched && !category.valid" class="alert alert-danger" role="alert">Categoria es obligatoria</span>          
        </div>
        <div class="form-group">
          <label for="year">Año</label>
          <input type="text" class="form-control" name="year" #year="ngModel" [(ngModel)]="project.year" placeholder="Elige el año" required>
        </div>
        <div class="form-group">
          <label for="langs">Lenguajes</label>
          <input type="text" class="form-control" name="langs" #langs="ngModel" [(ngModel)]="project.langs" placeholder="Elige los o el lenguaje" required>
          <span *ngIf="langs.touched && !langs.valid" class="alert alert-danger" role="alert">Los lenguajes son obligatorios</span>          

        </div>
        <div class="image" *ngIf="project.img" style="width: 58%; margin: 10px;">
            <img src="{{url+'getImag/'+project.img}}" *ngIf="project.img !== null" style="width: 58%;">
          </div>
        <div class="custom-file">
          <label class="custom-file-label" for="img">Imagen</label>
          <input type="file" class="custom-file-input" name="img" (change)="uploadImag($event)" required>
        </div>
        <div class="clearfix">
          <div class="form-group col-md-4 float-right">
            <input type="submit" [disabled]="!fomrproyect.form.valid" class="form-control btn btn-primary btn-md" value="Guardar proyecto">    
          </div>
        </div>

        
    </form>
</div>